:root {
--card: #dac7ae;
  --marrom-claro: #743E17;
  --marrom-principal: #351c0a;
  --verde: #366638;
  --fundo: #ecdfc7;

}
@font-face {
  font-family: "Narnia";
  src: url("Narnia.ttf") format("truetype");
}

@font-face {
  font-family: "Arsenica";
  src: url("ArsenicaTrial-Medium.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
 
body {
  background-color: var(--fundo);
  font-family: "Raleway", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
}

header {
  width: 100%;
  height: 80px;
  background-color: var(--verde);
  color: var(--fundo);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 60px;
}

.logo img {
  height: 50px;
  width: auto;
  align-items: flex-start;
}

nav a {
  color: var(--fundo);
  text-decoration: none;
  font-size: 1.2rem;
  margin-left: 40px;
  cursor: pointer;
  font-family: "Raleway", sans-serif;
}

nav a:hover{
   transform: scale(1.5);
   color: var(--marrom-principal);
   font-family: "raleway";
   font-weight: bold;
  text-shadow: 0 8px 20px;
}


h1 {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    font-size: 4rem;
    font-weight: 200;
    font-family: "Narnia", serif;
    color: #351c0a;
}

.menu {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 40px;
    padding: 12px 0;
}

.menu a {
    color: var(--marrom-claro);
    font-family: "Raleway";
    font-weight: bold;
    font-style: italic;
    margin-top: 20px;
}

.menu a:hover {
  transform: scale(1.2);
  color: var(--marrom-principal);
  text-shadow: 0 8px 50px;
}

.menu-link {
  text-decoration: none;
  color:var(--marrom-principal);
  font-weight: 600;
  font-size: 18px;
  transition: color 0.3s;
}

.menu-link:hover {
  color:var(--marrom-claro);
}

.cardapio-section {
  display: none;
  padding: 30px;
  text-align: center;
}

.cardapio-section:not(.hidden) {
  display: block;
}

.grid-produtos {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 25px; 
  margin-top: 20px;
  margin: 0 auto;
}

.produto {
  text-align: center;
  cursor: pointer ;
  transition: transform 0.2s;
}

.produto:hover {
  transform: translateY(-5px);
  background-color: var(--card);
  border-radius: 12px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.1);
  text-align: center;
}

.produto img {
  height: 180px;
    width: 100%; 
    object-fit: contain;                          
  border-radius: 10px;
}

.diferentes  {
   margin-top: 8px;
  width: 100%;                     
  object-fit: contain;       
  border-radius: 10px;
}

.produto h3 {
  margin-top: 10px;
  font-size: 18px;
}

.produto p {
  font-family: "raleway", sans-serif;
  font-weight: bold;
  font-size: 14px;
  color: var(--marrom-principal);
}


.card-detalhes {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(6px);
  background-color: rgba(0, 0, 0, 0.4);
  display: none; 
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.conteudo-card {
  background: var(--card);
  width: 80%;
  max-width: 700px;
  gap: 60px;
  padding: 30px;
  border-radius: 20px;
  position: absolute;
  box-shadow: 0 4px 25px rgba(0,0,0,0.2);
  animation: aparecer 0.3s ease;
}


@keyframes aparecer {
  from { transform: scale(0.9); opacity: 0; }
  to { transform: scale(1); opacity: 1; }
}

.fechar {
  position: absolute;
  top: 15px;
  right: 20px;
  font-size: 28px;
  color: var(--marrom-principa);
  cursor: pointer;
}

.fechar:hover {
  color: var(--marrom-escuro);
}

.conteudo-card h2{
  color: var(--marrom-principal);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-style: italic;
  font-size: 30px;
  margin-bottom: 15px;
}

.conteudo-card p {
  color: #351c0a;
  font-size: 16px;
  line-height: 1.5;
}

.conteudo-card img {
  width: 150px;
  border-radius: 12px;
  margin-bottom: 0px;
}

