:root {
--card:#bb9c74;
  --marrom-claro: #743E17;
  --marrom-principal: #351c0a;
  --verde: #366638;
  --fundo: #ccb392;

}
@font-face {
  font-family: "Narnia";
  src: url("Narnia.ttf") format("truetype");
}

@font-face {
  font-family: "Arsenica";
  src: url("ArsenicaTrial-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Maglisto";
  src: url("Maglisto.otf") format("opentype");
}

@font-face {
  font-family: "Payback";
  src: url("Payback.otf") format("opentype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
 
body {
  background-color: var(--fundo);
  font-family: "Raleway", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
  margin: 0;
}

header {
  width: 100%;
  backdrop-filter: blur(3px);
  background:#583c27;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  z-index: 10;
  border-bottom: 1px solid rgba(255, 255, 255, 0.);
}
.logo img {
  height: 50px;
  width: auto;
  align-items: flex-start;
}

nav a {
  color: var(--fundo);
  text-decoration: none;
  font-size: 1.2rem;
  margin-left: 40px;
  cursor: pointer;
  font-family: "Raleway", sans-serif;
}

nav a:hover{
   transform: scale(1.5);
   color: var(--marrom-principal);
   font-family: "raleway";
   font-weight: bold;
  text-shadow: 0 8px 20px;
}

.titulo {
  text-align: center;
  margin-top: 50px;
}

.titulo h1 {
  font-size: 2.5rem;
  letter-spacing: 2px;
  color: var(--marrom-principal);
  font-family: 'payback', sans-serif;
  font-weight: 200;
  font-size: 4rem;
}

main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 80px 0;
  padding: 10px 50px 10px 60px; 
}


.textoprincipal {
  flex: 1;
  max-width: 550px;
  font-size: 1.15rem;
  line-height: 1.7;
  text-align: justify;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
}

.textoprincipal:hover {
  transform: scale(1.05);
  border-radius: 12px;
  text-shadow: 0 5px 20px #351c0a;
  text-align: justify;
  color: ;
}



.imagens {
  position: relative;
  width: 450px;
  height: 320px;
  overflow: hidden;
  border-radius: 15px; 
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.imagens img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  animation: trocar 8s infinite;
  transition: opacity 0.5s ease;
}

.imagens img:nth-child(1) {
  animation-delay: 0s;
}
.imagens img:nth-child(2) {
  animation-delay: 4s;
}

.imagens:hover{
 transform: scale(1.1);
  color: var(--marrom-principal);
  box-shadow: 0 8px 50px #743E17;
}

@keyframes trocar {
  0% { opacity: 0; }
  10% { opacity: 1; }
  40% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 0; }
}


.botao {
  text-align: center;
  width: 100%;
}

.botao p {
  font-size: 1.1rem;
  margin-bottom: 0px;
  color: var(--marrom-principal);
  font-weight: 700;
}

.botao button {
  background-color: var(--verde);
  color: white;
  border: none;
  padding: 12px 25px;
  margin-bottom: 10px;
  border-radius: 25px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s;
}

.botao button:hover {
  background-color: var(--marrom-claro);
  transform: scale(1.05);
}


@media (max-width: 900px) {
  main {
    flex-direction: column;
    padding: 0 30px;
  }

  .textoprincipal {
    max-width: 100%;
    text-align: center;
  }

  .imagens {
    width: 100%;
    height: 250px;
    margin-right: 0;
  }
}