:root {
  --fundo: #E5D7C4;
  --marrom-claro: #743E17;
  --marrom-principal: #351c0a;
  --verde: #366638;
}

@font-face {
  font-family: "Narnia";
  src: url("Narnia.ttf") format("truetype");
}

@font-face {
  font-family: "Arsenica";
  src: url("ArsenicaTrial-Medium.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--fundo);
  font-family: "Raleway", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* garante footer embaixo */
}

header {
  width: 100%;
  height: 80px;
  background-color: var(--verde);
  color: var(--fundo);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 60px;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  font-family: "Raleway", sans-serif;
}

nav a {
  color: var(--fundo);
  text-decoration: none;
  font-size: 1.2rem;
  margin-left: 40px;
  cursor: pointer;
  font-family: "Raleway", sans-serif;
}

.container {
  flex: 1; /* ocupa o espaço entre header e footer */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 60px;
}

.texto {
  max-width: 50%;
}

.titulo-principal h2 {
  font-family: "Arsenica", serif;
  color: var(--marrom-claro);
  font-size: 3rem;
  margin-bottom: 10px;
}

.titulo-principal h1 {
  font-family: "Narnia", serif;
  color: var(--marrom-principal);
  font-size: 5.5rem;
  margin-bottom: 20px;
}

.menores {
  margin-top: 20px;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
}

.menores p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.imagem {
  flex: 1; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.imagem img {
  width: 100%;
  max-width: 400px;
  height: auto;
}

footer {
  background-color: var(--verde);
  color: var(--fundo);
  text-align: center;
  padding: 15px;
  font-size: 1rem;
}
footer a {
  color: var(--fundo);
  text-decoration: underline;
}
